# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VITE specific
.env
.env.production
.env.local

# Build output
dist/